<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>eruditor</title>

		<style>
			table { border: 4px double black; width: 80%; margin: 0 auto; text-align: center; };
			td { padding: 0.4em; }
		</style>

		<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
		<script src="/stalin.min.js"></script>

		<script>
			Stalin('row',
				'{{>head}}'+
				'{{#data}}<tr>'+
					'<td>{{status}}</td>'+
					'<td>{{order.from.id}}</td>'+
					'<td>{{order.to.id}}</td>'+
					'<td>{{weather.azimuth}}</td>'+
					'<td>{{weather.magnitude}}</td>'+
					'<td>{{>date}}</td>'+
				'</tr>{{/data}}'
			);

			Stalin('head',
				'<tr>'+
					'<th>Status</th>'+
					'<th>From</th>'+
					'<th>To</th>'+
					'<th>Azimuth</th>'+
					'<th>Magnitude</th>'+
					'<th>Date</th>'+
				'</tr>'
			);

			Stalin.date = function (s,e) {
				return new Date(s('order').date);
			};

			$(function(){
				function fetch (){
					$.get('/data.json', null, function(data) {
						$('table').get(0).innerHTML = Stalin.row(data);
					});
				}

				setInterval(fetch, 5000);
				fetch();
			});
		</script>
	</head>

	<body>
		<table></table>
	</body>
</html>
